.App {
	background-image: url("https://bergenbrettspill.no/3fe5647d40e21d36b55f0311353ed0ae.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;

	> .container {
		min-height: 100vh;
		background-color: white;
	}
}
